.header__container {

  padding-top: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
}

.header__background {
  position: relative;  
  padding: 14px 14px 20px 14px;
  width: 280px;
  height: 460px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--overlay-color),
      var(--overlay-color)
    ),
    url(../images/background-mobile.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--overlay-color),
      var(--overlay-color)
      ),
      url(../images/background-mobile@2x.jpg);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--overlay-color),
      var(--overlay-color)
      ),
      url(../images/background-mobile@3x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 222px;
    padding: 16px;
    border-radius: 15px;

    background-image: linear-gradient(
        to right,
        var(--overlay-color),
      var(--overlay-color)
      ),
      url(../images/background-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--overlay-color),
      var(--overlay-color)
        ),
        url(../images/background-tab@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
         var(--overlay-color),
      var(--overlay-color)
        ),
        url(../images/background-tab@3x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1216px;
    height: 316px;
    padding: 16px 32px 32px 32px;
    border-radius: 15px;
    background-image: linear-gradient(
        to right,
        var(--overlay-color),
      var(--overlay-color)
      ),
      url(../images/background-desk.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--overlay-color),
      var(--overlay-color)
        ),
        url(../images/background-desk@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--overlay-color),
      var(--overlay-color)
        ),
        url(../images/background-desk@3x.jpg);
    }
  }
}

.home__grid-container {
display: grid;
grid-template-columns: repeat(2, auto);
grid-template-rows: 34px auto 32px ;
grid-row-gap: 8px;
grid-template-areas: 
    'top user'
    'form form' 
    'logo logo'
    ;

   @media screen and (min-width: 768px) {
   grid-template-columns: 165px 202px auto ;
   grid-column-gap: 8px;
   grid-template-rows: 38px auto;
   grid-template-areas: 
    'form top user'
    'logo logo logo' 
     ;

     }
   @media screen and (min-width: 1280px) {
   grid-template-columns: 187px 224px auto ;
   grid-template-rows: 42px auto;
  
     }

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 34px;
    border-radius: 17px;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12 / 14);
    border: transparent;
    
    text-transform: uppercase;
    cursor: pointer;     
    color: var(--secondary-text-color);
    background: var(--primary-text-color);

    transition-property: background-color, color ; 
    transition-duration: 0.4s ; 
    transition-timing-function: ease-in ; 
   

     @media screen and (min-width: 768px) {
     height: 38px;
     border-radius: 19px;
     }
     @media screen and (min-width: 1280px) {
     height: 42px;
     border-radius: 21px;
     }
}

.btn:hover,
.btn:focus {
    outline: none;
    background-color: var(--footer-text-color);
    color: var(--primary-text-color);
}

.header__btn-home {
    width: 87px;

      @media screen and (min-width: 768px) {
     width: 83px;
     }
     @media screen and (min-width: 1280px) {
     width: 99px;
     }
}

.header__btn-library {
  width: 113px;

    @media screen and (min-width: 768px) {
     width: 113px;
     }
     @media screen and (min-width: 1280px) {
     width: 117px;
     }
}

.header__btn-home.current, 
.header__btn-library.current {
    color: var(--primary-text-color);
    background: var(--secondary-text-color);
}
.header__btn-wrapper-top,
.header__btn-wrapper-bottom {
    display: flex;
    gap: 4px;
    height: 34px;

    @media screen and (min-width: 768px) {
     height: 38px;
      gap: 8px;
     }
     @media screen and (min-width: 1280px) {
     height: 42px;
     }

}


.header__btn-wrapper-top {
    grid-area: top;
    
}

.header__btn-wrapper-bottom {
    grid-area: bot;
    justify-self: center;

     @media screen and (min-width: 768px) {
     height: 38px;
     justify-self: end;
     align-self: end;
     }
     @media screen and (min-width: 1280px) {
     height: 42px;
   
     }


}



.header__user-icon {
    grid-area: user;
    justify-self: end;

    width: 34px;
    height: 34px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    cursor: pointer;
    transition:  0.4s ease;

    @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
    justify-self: start;
     }
    @media screen and (min-width: 1280px) {
    width: 42px;
    height: 42px;
   
     }
}

.header__user-icon:hover,
.header__user-icon:focus {
    outline: none;
  
    background: var(--footer-text-color);
}

.header__form {
  position: relative;

  grid-area: form;  
  display: flex;
  justify-content: space-between;
  width: 252px;
  height: 34px;
  border-radius: 17px;
  background: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 165px;
    height: 38px;
     border-radius: 19px;
  }
  @media screen and (min-width: 1280px) {
    width: 187px;
    height: 42px;
    border-radius: 21px;
  }
}

.header__form-input{
  height: 34px;
  padding-left: 14px;
  border-radius: 17px;
  padding: 0 16px;
  background: transparent;
  border: transparent;
  outline: transparent;

    @media screen and (min-width: 768px) {
    max-width: 120px;
    height: 38px;
  }

  color: var(--secondary-text-color);
  @media screen and (min-width: 1280px) {
    max-width: 142px;
    height: 42px;
  }
}

.header__form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(12 / 14);

  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(14 / 16);
  }
}

.header__form-btn {
  width: 45px;
  padding: 7px;
  cursor: pointer;
  background-color: var(--primary-text-color);
  border: transparent;
  outline: none;  
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 21px;
}

.header__form-svg {
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: currentColor;
  stroke: var(--secondary-text-color);
  fill: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}


.header__logo-link {
  grid-area: logo;
  justify-self: center;

  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  height: 32px;
   outline: none;  

    @media screen and (min-width: 768px) {
    height: 40px;    
    justify-self: start;
    align-self: end;
  }
    @media screen and (min-width: 1280px) {
    height: 60px;    
    
  }
}

.header__film-svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  
  stroke-width: 0;
  stroke: currentColor;
  stroke: var(--primary-text-color);
  fill: transparent;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1280px) {
    width: 59px;
    height: 59px;

  }
}

.header__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  line-height: calc(32 / 38);
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: calc(40 / 47);
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: calc(64 / 75);
  }
}

.header__notifier {
  display: block;
  position: absolute;
  top: 100px;
  left: 20px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  width: 150px;


  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
  top: 60px;
  left: 25px;

  }
  @media screen and (min-width: 1280px) {
   top: 65px;
   left: 40px;
  }
}