html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
  font-family: Roboto, sans-serif;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
 
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 320px) {
      width: 320px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }

    outline: 1px solid black;
  }

  .header__container {
    padding-top: 20px;
    @media screen and (min-width: 768px) {
     padding-top: 32px;
    }

  }

  // .header__wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: column;
  //   gap: 8px;

    
  //  @media screen and (min-width: 768px) {
  //   flex-direction: row-reverse;
  //   flex-wrap: nowrap;
   
  //  }
  // }

  .header__btn-wrapper  {
  //  display: grid;
  //  grid-auto-flow: row;
  //  grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  //  grid-template-rows: 34px auto;
  //   grid-row-gap: 8px;
  //   grid-column-gap: 4px;
    // height: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:4px;
    @media screen and (min-width: 768px) {
     gap: 8px;
     }

  }
  
  .header__wrapper-bottom  {
    display: flex;
    gap: 8px;
  }

.header__btn-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 26px;
  width: 87px;
  height: 34px;
  border-radius: 17px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(12 / 14);
  border: transparent;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
  background: #ffffff;
  
  @media screen and (min-width: 768px) {
    padding: 10px 20px;
    width: 83px;
    height: 38px;
    border-radius: 19px;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 30px;
    width: 99px;
    height: 42px;
    border-radius: 21px;
  }
}


.header__btn-library {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 113px;
  height: 34px;
  border-radius: 17px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(12 / 14);
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
  background: #ffffff;

  @media screen and (min-width: 768px) {
    padding: 10px 20px;
    width: 109px;
    height: 38px;
    border-radius: 19px;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 24px;
    width: 117px;
    height: 42px;
    border-radius: 21px;
  }
}



.header__btn-home.current,
.header__btn-library.current {
  color: #ffffff;
  background: #000000;
}



  // .header__wrapper-bottom {
  //   display: flex;
  //   gap: 4px;
   
  
  //   // height: 40px;
  //   align-self: flex-end;
  //   align-items: center;
  //   margin: 0 auto ;

  //   @media screen and (min-width: 768px) {
  //     flex-wrap: wrap;
   
  //     margin-left: auto;
  //     order: 3;
  //    }

  // }

  .header__background {
   padding: 14px 14px 20px 14px;
   height: 460px;
   width: 280px;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
 
    margin: 0;
   
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  // display: grid;
  // grid-template-columns: repeat(auto-fit,20%);
  // grid-template-rows: repeat(auto-fit, 25%);
  // grid-row-gap: 4px;
  // grid-template-areas: 
  // 'hom hom . lib lib' 
  // 'for for for for for' 
  // 'log log log log log'
  // 'wch wch . qwe qwe';

  // justify-items: stretch;
  // justify-content: start;

    @media screen and (min-width: 768px) {
      width: 704px;
      height: 222px;
      padding: 16px;
      border-radius: 15px;
     }

     
    @media screen and (min-width: 1280px) {
      min-width: 1216px;
      min-height: 316px;
      padding: 16px 32px 32px 32px;
      border-radius: 15px;
     }
  
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/film/background-mobile.jpg);
  
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url(../img/film/background-mobile@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url(../img/film/background-mobile@3x.jpg);
    }
  
    @media screen and (min-width: 768px) {
  
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url(../img/film/background-tab.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url(../img/film/background-tab@2x.jpg);
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url(../img/film/background-tab@3x.jpg);
      }
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url(../img/film/background-desk.jpg);
  
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url(../img/film/background-desk@2x.jpg);
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url(../img/film/background-desk@3x.jpg);
      }
    }
  }  

.header__home-link,
.header__library-link {
  display: block;
  height: 34px;
}


  .header__form {
    // grid-area: for;
    width: 252px;
    height: 34px;
    padding: 0 5px;

    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: #fff;


   @media screen and (min-width: 768px) {
      width: 165px;
      height: 38px;
      border-radius: 19px;
      order: -1;
   }

   
  @media screen and (min-width: 1280px) {
    width: 187px;
    height: 42px;
   }
  }
  
  .header__form-input {
  
    height: 34px;
    padding-left: 14px;
    border: none;
    color: #000000;
    background-color: transparent;
    

     @media screen and (min-width: 768px) {
    width: 110px;
  
    }

  }

  .header__form-input:focus {
    outline: none;
    background-color: transparent;
    
  }

  .header__form-btn {
    width: 30px;
    padding: 7px;
    cursor: pointer;
    background-color: transparent;
    border: none;

  
    justify-content: center;
    align-items: center;
   
  }
  
  .header__form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(12 / 14);
  
    color: #000000;
  }

  .header__form-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
 
    stroke: #000000;
    fill: #ffffff;
  }


  .header__root-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: 768px) {
      align-items: start;
  
      }

  }

  .header__root-desktop {

    
    @media screen and (min-width: 768px) {
      margin-left: auto;
      }

  }
  
  .header__btn-watched {

    // grid-area: wch;
 
   justify-content: end;
    padding: 10px 23px;
    width: 102px;
    height: 34px;
    border-radius: 17px;
    border: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12 / 14);
    text-transform: uppercase;
    color: #b92f2c;
    background: #ffffff;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      height: 38px;
      width: 102px;
      border-radius: 19px;
    }
    @media screen and (min-width: 1280px) {
    height: 42px;
    width: 120px;
      border-radius: 21px;
    }


  }
  .header__btn-queue {
    // grid-area: qwe;

    padding: 10px 24px;
    width: 86px;
    height: 34px;
    border-radius: 17px;
    border: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12 / 14);
    text-transform: uppercase;
    color: #b92f2c;
    background: #ffffff;

    @media screen and (min-width: 768px) {
    width: 86px;
    height: 38px;
    border-radius: 19px;
  
    }
    @media screen and (min-width: 1280px) {
    width: 86px;
    height: 42px;
    border-radius: 21px;
    }

  }
  
  .header__logo-link {
 
   display: flex;
   align-items: center;
   flex-grow: 1;
   align-items: end;
   order: 0;
   margin: 0 auto;

   @media screen and (min-width: 768px) {
    margin: 0;
    order: 4;
   }
  }

  .header__film-svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    stroke-width: 0;
    stroke: currentColor;
    stroke: #ffffff;
    fill: transparent;
  }


  .header__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    line-height: calc(32 / 38);
    color: #ffffff;
  }




/* //--------------------------------- */

  .header__user-wrapper {
    position: fixed;
    top: 16px;
    right: 100px;
  }

    .header__user-icon {
      background-color: #888a;
    border-radius: 20px;
    margin-left: auto;
      }
    
      .header__user-icon:hover ,
      .header__user-icon:hover {
        background-color: #eee;
        outline: none;
        transition: 0.4s ease;
        cursor: pointer;
      }
  
      /* =============animation=================== */

.button {
  position: relative;
}      

.btn-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 border-radius: 20px; 

}

.circle {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #f8d24e90;
  pointer-events: none;
  width: 50px;    
  height: 50px;
  transform: translate(-50%, -50%);

  z-index: 2;
  animation: scaleUp 2s  forwards;
}

@keyframes scaleUp {
  0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0) ;
  }
  100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(15) ;
  }
}