body{
  padding: 70px 16px 0;
}

.header1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    background-color: #281e72c5;
    padding: 15px;
}

.search-form {
    display: flex;
    gap: 55px;
    margin: 0;
    padding: 0 16px;
    border-radius: 26px;
    border: 3px solid #fff;
    transition: all 0.4s ease-in-out;
}



.field {
    padding: 4px 16px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 50%;
    color: aliceblue;
    border-radius:   26px 0 0 26px  ;
    border: transparent;
}

.field:focus {
outline: none;
}

.field:focus .search-form{
  border-color: #ff0;
}



.field::placeholder {
    font-size: 20px;
    color: #aaa;
    font-weight: 500;
}

.search-btn ,
.delete-btn {
    padding: 8px 16px 8px 8px;
    border-radius:  0 26px  26px 0;
    background-color: transparent;
    margin: 0;
    border: transparent;
    cursor: pointer;
    color: #fff;

}

.search-btn:focus {
    outline: none;
}

.search-btn:disabled .lens {
    fill: #777;
    cursor: none;
}
.search-btn:focus .lens {
    fill: #ff0;
}

.search-btn:disabled,
.delete-btn:disabled {
 color: #777;
 cursor: none;
}


.lens {
    fill: #fff
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .photo-card {
    height: 300px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(48, 47, 47, 0.1);
  }
  
  .info {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
 
  
  .load-more.is-hidden {
    display: none;
  }
  
  .load-more {
   display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 26px ;
    border-radius:  26px  ;
    background-color: #281e72c5;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: transparent;
    cursor: pointer;
  }
  
  .gallery-item {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    
  }

  .gallery-item:hover,
  .gallery-item:focus {
    outline: none;
    scale: 1.05;
  }

  .back-to-top {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border: none;
    background-color: transparent;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
  }

  .back-to-top:hover {
    background-color: #281e7235;
    
  }

  .back-to-top:hover .fingerUp {
    stroke: 2px;
    stop-color: #ddd;
   /* fill: #ddd; */
  }

  .back-to-top.visible {
    display: block;
  }

  /* radio */

  .radio {
    font-family: Haettenschweiler,  sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: #eee;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    height: 20px;
  }

  .radio input[type="checkbox"] {
    display: none;
  
  }

  .radio span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #eee;
    display: block;
    position: absolute; 
    left: 0;
    bottom:-2px ;

  }

  .radio span::after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 505;
    background: #00aeff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 400ms ease-in-out 0s;
  }

  .radio input[type="checkbox"]:checked ~ span::after {
    transform: translate(-50%,-50%) scale(1);
    /* content: ''; */
  }

